* {
  margin: 0;
  padding: 0;
}
html{
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #000000;
    background: #ffffff;
}
